[Unit]
Description=Streamlit Enterprise Client Showcase Portal (DuckDB, ETL, Finance, Scraping)
After=network.target

[Service]
Type=simple
User=lambert
WorkingDirectory=/home/lambert/Desktop/fast-api/Data-Science/Millicom-Company
Environment="PATH=/home/lambert/Desktop/fast-api/Data-Science/Millicom-Company/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="PORT=8501"
Environment="HOST=0.0.0.0"
ExecStart=/home/lambert/Desktop/fast-api/Data-Science/Millicom-Company/venv/bin/python -m streamlit run streamlit_app.py --server.port=8501 --server.address=0.0.0.0 --server.headless=true --browser.gatherUsageStats=false

Restart=always
RestartSec=5
KillSignal=SIGTERM
MemoryMax=1G

[Install]
WantedBy=multi-user.target
